/* Add this to your CSS file */

.navbar-brand img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  
  .navbar-nav .nav-link {
    margin-left: 15px;
  }
  
  .btn-outline-success {
    margin-left: auto;
  }
  .brand-name {
    color: red;
    font-style:bold;
    
    font-size:larger;
    font-family:'MV Boli';
  }