.offers-section {
  margin-top: 20px;
}

.offers-section .card {
  border:2px;
  transition: transform 0.2s;

}

.offers-section .card:hover {
  transform: scale(1.05);
}

.offers-section h2{
  color: red;
}